@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  margin: 0px;
  font-family: "Source Code Pro", monospace;
  background-color: rgb(13, 71, 126);
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

section {
  max-width: 1300px;
  margin: 2rem auto;
}

.cards {
  /* https://1linelayouts.glitch.me/ */
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2rem;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
